*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.subs{
    width: calc(100% / 3 - 10px);
    background-color: yellow;
    padding: 10px;
    margin: 5px;
    text-align: center;
}