
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}
.img{     
     background-repeat: no-repeat;
     padding: 0 2px;
}
@media only screen and (max-width:479px) {
    .img{     
        width: 100%;
    }
  }
@media only screen and (min-width:480px) and (max-width: 767px) {
    .img{     
        width: calc(100% / 2);
    }
  }
@media only screen and (min-width: 768px) and (min-width: 1279px) {
    .img{     
        width: calc(100% / 3);
    }
  }
@media only screen and (min-width: 1280px) {
    .img{     
        width: calc(100% / 4);
    }
  }
