:root {
   --main: #3dcfd3;
  }
  *{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    }
 
  
  /* Start Navbar */
  .navbar {
    background:black;
    min-height: 100px;    
  }
  .navbar .navbar-nav .nav-link {
    color: rgb(248, 248, 248);
  }
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover {
    color: var(--main);
  }
  
  .navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
  }
  .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--main);
  }
  /* End Navbar */
  /* first section start  */
  .first-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: black;
    clip-path:  polygon(72% 88%, 100% 100%, 100% 0, 0 0, 0 100%);
    

  }
  .card-one {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

 

  }
 
  
   .info div{
     padding: 0 10px;
   }
 
  h2{
    font-weight: 900;
    font-size: clamp(16px, 3vw, 32px);
    color: var(--main);
    
  }

  span{
    font-size: 2rem;
    color: white;
  }
  .animated::after{
    font-size: 2rem;
    content: "Developer";
    color: var(--main) ;
    animation: about 5s linear infinite;
  }
  @keyframes about {
    50%{ content: "Freelancer";

    }
    100%{ content: "Designer";

    }
  }
  #CV{
    color: var(--main);
    background-color: black;
    border-color: var(--main);
    padding: 5px;
    margin-top: 10px;
  }
    /* first section end */

    /* second section start  */
    #about{
      text-align: center;
      padding: 10px 10px 0 10px;
    }
    .card-two{
      min-height: 600px;
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 20px;
      justify-content: center;
      align-content: center;
      padding: 20px;

    }
    .me{
      display: flex;
      align-content: center;
      flex-wrap: wrap;
    }
    h3 span{
      color: var(--main);
    }
   
    img {
      max-width: 100%;
      max-height: 100%;
     }
  
    .links a, .links {
      padding: 10px;
    }
    .picture .img{
      max-width: 100%;
      margin-top: -86px;
      margin-left: -10px;
      height: 852px;
      width: 470px;
      background: url(../../images/pp4.png) top var(--main);

    }
    /* second section end */
    /* third section start  */
    .card-three{
      min-height: 600px;
      background-color: #d9d6d9;
      display: grid;
      grid-template-columns: 100%;
      column-gap: 20px;
      justify-content: center;
      padding: 20px;
    }
    .head{
      text-align: center;
    }
    .edu-cards{
      display: grid;
      grid-template-columns: auto auto auto ;
      justify-items: center;
      justify-content: center;
      column-gap: 20px;
    }
    .c{
      background-color: var(--main);
      width: 300px;
      padding: 20px;
      margin-top: 10px;
      border-radius: 30px;
    }
    .c:hover{
      box-shadow: 9px 5px black;
    }


    @media screen and (max-width: 890px) {
      .information, .card-two,
      .edu-cards{
        grid-template-columns: 100%;
        text-align: center;

      }
      
    }


 
