div{
    border: 5px solid #2092e2;
    width: 100px;
    height: 100px;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;

}

div::after{
    content: "";
    width: 120px;
    height: 120px;
    border: 5px solid #fca100;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
}
div::before{
    content: "";
    width: 140px;
    height: 140px;
    border: 5px solid black;
    border-top-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: -25%; 


}

div:hover{
    animation: rotate 2s linear 0s infinite normal;  

}

@keyframes rotate{
    0%   {transform:  rotate(0deg);
    }
    100%   {transform: rotate(360deg) ;
    }

}