*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
.container {
    padding: 20px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 15px;
    align-content: space-between;

}
.name,.about{
    font-weight: bolder;
}
.job, .more{
    opacity: 0.7;
}
.container div{
    background-color: white;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    position: relative;
    counter-increment: counter;
    
}
.container div:nth-child(even){
    border-image: linear-gradient( to top, red, rgba(0, 0, 0, 0) ) 1 100%;
}
.container div:nth-child(odd){
    border-image: linear-gradient( to bottom, red, rgba(0, 0, 0, 0) ) 1 100%;
    color: white;
    background-color: #262626;
}
.container div::after{
    content: counter( counter) ;
    position:absolute;
    bottom: 0;
    right: 5px;

}
.first-card{
    grid-column-end: span 2;
}
.third-card{
    grid-row-end: span 3;
    
}
.forth-card{
    grid-row-end: span 2;
}
.fifth-card{
    grid-column-end: span 2;
    
}
.sixth-card{
    grid-column-end: span 2;
}





